{% extends "layout.html" %}

{% block content %}
    <h1>Articles</h1>
    <div class="container">
        <section>
            {% for post in posts %}
                <article>
                    <div class="entete">
                        <a href="{{ url_for('article', id=post.id) }}"><h2><span>{{ post.title }}</span></h2></a>
                        <div class="date float">{{ post.created_at }}</div>
                    </div>
                    <div class="number">{{ post.id }}</div>
                    <p>{{ post.content[:400] }} [...] <a href="{{ url_for('article', id=post.id) }}">Lire la suite ?</a></p>
                    <p>Ecrit par <span class="auteurs">{{ post.author }}</span></p>
                    <p><span class="categories floatRight">{{ post.category }}</span></p>
                </article>
            {% endfor %}
        </section>

        <div class="bubble">
            <form class="search">
                <input type="search" id="search" name="search" placeholder="Chercher un article">
                <button><i class="fas fa-search"></i></button>
                <div id="deroulant">
                    
                </div>
            </form>
            <hr>
            <h2 class="commentaires">Derniers commentaires</h2>
            <aside id="comments">
                
            
            </aside>  
        </div>
    </div>
{% endblock %}